<div>
    <table style="border:1px solid black">
        <thead>
            <tr style="border:1px solid black">
                <th style="border:1px solid black">Student ID</th>
                <th style="border:1px solid black">Name</th>
                <th style="border:1px solid black">Program</th>
                <th style="border:1px solid black">GPA</th>
            </tr>
        </thead>
        {{#each students}}
        <tbody style="border:1px solid black">
            <tr style="border:1px solid black">
                <td style="border:1px solid black">{{studId}}</td>
                <td style="border:1px solid black">{{name}}</td>
                <td style="border:1px solid black">{{program}}</td>
                <td style="border:1px solid black">{{gpa}}</td>
            </tr>
            
        </tbody>
        {{/each}}
    </table>
</div>